.container{
    display: flex;
    width: 100%;
    background-color: rgb(242, 240, 240);
    border: 1px solid lightgray;
    max-height: 300px;
    transition: max-height 0.5s ease-in;
    box-shadow: 2px 2px 3px darkgrey;
    margin-top: 5px;
    overflow:auto!important;
    
    pre{
        width: 98%;
        white-space: pre-wrap;
    }
    mat-icon{
        width: 25px;
        &:hover {
            cursor: pointer;
        }
        transform: translateY(10px);
        margin-right: 5px;
        color: darkgray;
    }
    
}

.collapsed{
    max-height: 40px;
    height: 40px;
    transition: max-height 0.5s ease-out;
}

.zipitem{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;

    mat-icon {
            width: 25px;
    
            &:hover {
                cursor: pointer;
            }
    
            color: darkgray;
        }
}

