<div class="container"  *ngIf="this.item && this.item.label != 'all'" [ngClass]="!expanded?'collapsed':''">
    <mat-icon *ngIf="!expanded && this.item.label != 'all'" matTooltip="Show content" matTooltipPosition="left" (click)="itemClicked()">expand_more</mat-icon>
    <pre *ngIf="!expanded && this.item.label != 'all'">{{this.item.label}}</pre> 
    <mat-icon *ngIf="!expanded && this.item.label != 'all'" matTooltip="Download" matTooltipPosition="left"
        (click)="downloadClicked()">file_download</mat-icon>

    <mat-icon *ngIf="expanded && this.item.label != 'all'" matTooltip="Hide content" matTooltipPosition="left" (click)="itemClicked()">expand_less</mat-icon>
    <pre *ngIf="expanded && this.item.label != 'all'">{{this.item.content}}</pre>
    <mat-icon *ngIf="expanded && this.item.label != 'all'" matTooltip="Download" matTooltipPosition="left"
        (click)="downloadClicked()">file_download</mat-icon>
    
    <mat-icon *ngIf="this.item.label == 'all'" matTooltip="Download all in a zip file" matTooltipPosition="left"
            (click)="downloadClicked()">file_download</mat-icon>
</div>
<div class="zipitem" *ngIf="this.item && this.item.label == 'all'">
    <label>Generate all elements and download</label>
    <mat-icon *ngIf="this.item.label == 'all'" matTooltip="Download all in a zip file" matTooltipPosition="left"
        (click)="downloadClicked()">file_download</mat-icon>
</div>
