<div class="main-container">
  <div class="tool-bar">
    <button mat-stroked-button color="primary" (click)="fileInput.click()">Load AsyncAPI file</button>
    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
  </div>
  <div class="content-container">
    <label>Content</label>
    <div class="content">
      <!-- pre>{{ documentContent | json}}</pre -->
      <ngx-json-viewer [json]="documentContent" [expanded]="false"></ngx-json-viewer>
    </div>
    <div>
      <button mat-stroked-button color="primary" (click)="this.exportToCpp()">Definitions</button>
    </div>
    <div>
      <button mat-stroked-button color="primary" (click)="this.exportConversionFunctions()">Conversion functions</button>
    </div>
    <div>
      <button mat-stroked-button color="primary" (click)="this.exportInitialMetaInfo()">Initial metainfo</button>
    </div>
    <div>
      <button mat-stroked-button color="primary" (click)="this.exportTopics()">Topics</button>
    </div>
    <div>
      <button mat-stroked-button color="primary" (click)="this.exportCommunicationLayer()">Communication layer</button>
    </div>
    <div>
      <button mat-stroked-button color="primary" (click)="this.exportCommunicationLayerImpl()">Communication layer implementation</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
