<div class="main-container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="left-and-content">
    <div class="left"> </div>
    <div class="content">
      <div class="tool-bar">
        <button mat-stroked-button (click)="fileInput.click()" >
          <mat-icon fontSet="material-icons-outlined" >upload</mat-icon>
            Load AsyncAPI file</button>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <mat-chip-listbox multiple="false" required="true"
          [aria-orientation]="'horizontal'"
          defaultTabIndex = 0>
          <mat-chip-option selected value="cpp" (selectionChange)="chipClicked($event)">C/C++</mat-chip-option>
          <mat-chip-option value="js" (selectionChange)="chipClicked($event)">JS</mat-chip-option>
        </mat-chip-listbox>
        <div class="message" *ngIf="!this.apiDocument">
          <label>No specification file loaded. Please select a valid Async API YAML file</label></div>
      </div>
      <div *ngIf="this.apiDocument" class="content-container">
        <div class="left-panel">
          <span>Specification details</span>
          <div class="metainfo">
            <div class="line">
              <label>Async API version: </label><label class="value">{{this.apiDocument.version()}} </label>
            </div>
            <div class="line">
              <label>Tittle: </label><label class="value">{{this.apiDocument.info().title()}}</label>
            </div>
            <div class="line">
              <label>Version: </label><label class="value">{{this.apiDocument.info().version()}}</label>
            </div>
            <div class="line">
              <label>Contact: </label><label class="value">{{this.apiDocument.info().contact()?.name()}}
                  ({{this.apiDocument.info().contact()?.email()}})</label>
            </div>
           
          </div>
          <label class="line">Object structure:</label>
          <ngx-json-viewer [json]="documentContent" [expanded]="false" style="overflow:auto!important;"></ngx-json-viewer>
          
        </div>
        <div class="right-panel">
          <div class="select-label">
            <mat-form-field>
              <mat-label>Choose channels</mat-label>
              <mat-select [formControl]="formChannels" multiple (selectionChange)="selectionChange($event)">
                <mat-select-trigger>
                  {{formChannels.value?.[0] || ''}}
                  <span *ngIf="(formChannels.value?.length || 0) > 1" class="example-additional-selection">
                    (+{{(formChannels.value?.length || 0) - 1}} {{formChannels.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topic of allChannels" [value]="topic.id()">{{topic.id()}}</mat-option>
              </mat-select>
            </mat-form-field>
            <span>Choose elements to see the generated code</span>
          </div>
          <mat-button-toggle-group appearance="legacy" name="fontStyle" 
            aria-label="Font Style" multiple
            (change)="groupChanged($event)">
            <mat-button-toggle value="definitions" (click)="definitionsClicked()"
              [checked]="this.selected.has('definitions')">Definitions</mat-button-toggle>
            <mat-button-toggle value="conversion-functions"
              (click)="conversionFunctionsClicked()"
              [checked]="this.selected.has('conversion-functions')">Functions</mat-button-toggle>
            <mat-button-toggle value="metainfo" (click)="metainfoClicked()"
            [checked]="this.selected.has('metainfo')">Metainfo</mat-button-toggle>
            <mat-button-toggle value="topics" (click)="topicsClicked()"
            [checked]="this.selected.has('topics')">Topics</mat-button-toggle>
            <mat-button-toggle value="communication-layer" (click)="communicationLayerClicked()"
            [checked]="this.selected.has('communication-layer')">Comm.
              Layer</mat-button-toggle>
            <mat-button-toggle value="communication-layer-impl" (click)="communicationLayerImplClicked()"
            [checked]="this.selected.has('communication-layer-impl')">Comm.
              Impl</mat-button-toggle>
            <mat-button-toggle value="simulated-server" (click)="simulatedServerClicked()"
              [checked]="this.selected.has('simulated-server')">Server</mat-button-toggle>
            <mat-button-toggle value="all" 
                [checked]="this.selected.has('all')">All</mat-button-toggle>
          </mat-button-toggle-group>
          <app-code-list 
            [addItemSubject]="this.addItemSubject" 
            [clearSubject]="this.clearSubject"
            (onDownloadClicked)="this.export($event)"></app-code-list>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- router-outlet></router-outlet -->
