@import "../theme.scss";

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
        min-width: 100vw;
        padding: 0px;
        height: 100vh;
        background-color: map-get($map: $light-primary, $key: 50);

    .header {
            display: block;
            height: 60px;
            min-height: 60px;
            max-height: 60px;
    }
    .left-and-content{
        display: flex;
        width: 100%;
        height: 100%;
        .left{
            display: flex;
            width: 60px;
            min-width: 60px;
            max-width: 60px;
            height: 100%;
            background-color: #b82929;
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%!important;
            width: calc(100% - 60px);

            .tool-bar {
                    display: flex;
                    width: 100%;
                    height: 40px;
                    align-items: center;
                    padding: 5px;
            
                    .message {
                        display: flex;
                        justify-content: flex-start;
                        margin-left: 8rem;
                        width: 70%;
                        color: rgb(141, 139, 139)
                    }
                    button{
                        width: 220px;
                        background-color:#f3dede;
                        border-color: #b82929;
                    }
                }
        }
        
    }
}

.content-container{
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 14px;
    width: 99%;
    height: 100%;
}
.left-panel{
    display: flex;
    flex-direction: column;
    //flex-grow: 1;
    width: 35%;
    //max-width: 35%;
    //min-width: 20%;
    max-height: 650px;
    padding: 5px;
    //resize: horizontal;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 4px;
    span{
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
    .line{
        margin-top: 5px;
        font-weight: 300;
        color: black;
    }
    .metainfo{
        display: flex;
        flex-direction: column;
        font-weight: 500;  
        .value{
            font-weight: 400;
            color: rgb(223, 81, 81);
        } 
    }
}
.right-panel {
    display: flex;
    flex-direction: column;
    //flex-grow: 1;
    //max-width: 62%;
    width: 65%;
    margin-left: 5px;
    max-height: 650px;
    padding: 5px;
    //resize: horizontal;
    border: 1px solid lightgray;
    border-radius: 4px;
    span {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
    .select-label{
        display: flex;
        align-items: center;
        height: 50px;
        mat-form-field{
            margin-top: 0px;
            margin-bottom: 0px;
            width: 300px;
            height: 70px;
            transform: translateY(10px);
        }
        span{
            margin-left: 50px;
        }
    }
}

span::before {
    content: "\a";
    white-space: pre-line;
}
:host ::ng-deep .ngx-json-viewer{
    margin-right: 5px;
    padding-left: 5px;
    min-width:98%;
    max-width: 98%;
    max-height: 600px;
    overflow: auto!important;
}
button{
    color: rgb(186, 65, 65)!important;
}

mat-chip-listbox{
    width: 180px;
    margin-left: 10px;
}

mat-chip-option{
    background-color: #f3dede !important;
    border: 0.5px solid #e65050 !important;
    color: #212121!important;
}

:host ::ng-deep .mat-mdc-standard-chip.mat-mdc-chip-selected{
    color: #212121 !important;
    border: 1.2px solid #b82929!important;
    background-color: #f2c8c8!important;
}

:host ::ng-deep .mdc-evolution-chip__text-label{
    color: #212121 !important;
}

:host ::ng-deep .mdc-evolution-chip__checkmark{
    color: #212121 !important;
}

:host ::ng-deep .mat-mdc-select-trigger{
    display: flex!important;
    align-items: center;
    height: 50px; 
}

mat-select-trigger{
    display: flex!important;
    align-items: center;
    span {
        margin-left: 10px;
        font-size: 0.75rem;
        transform: translateY(5px);
        text-transform: lowercase!important;
    }
}
:host ::ng-deep .mat-mdc-select-value{
    color: inherit!important;
    height: 50%!important;
}

:host ::ng-deep .mat-mdc-form-field-infix{
    padding-top: 6px!important;
    padding-bottom: 6px!important;
    margin-left: 4px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper{
    height: 48px!important;
    padding: 0 4px !important;
    background-color: rgb(241, 240, 240);
}